*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body{
    background-color: chocolate;
    color: rgb(255, 255, 255);
}
header{
    padding: 15px;
    background-color:gray;
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}
.logo img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid gainsboro;
}
nav a{
    padding: 15px;
    background-color: floralwhite;
    text-decoration: none;
}

nav a:hover{
background-color: rgba(136, 150, 136, 0.368);
}
.banner{
    padding: 15px;
    background-color: firebrick;
    height: 300px;
    background-image: url(./antonov-225.jpg);
    background-size: cover;
    background-position: center;
    display: grid;
    gap: 10px;
    align-items: end;
}
.content{
    padding: 15px;
    background-color:rgba(22, 242, 10, 0.481);


    display: grid;
    gap: 10px;
    justify-items: center;
    align-items: center;
}
.icon a{ 
    color: darkkhaki;
    text-decoration: none;
    font-size: 20px;
}
#bigplanes{
    padding: 15px;
    background-color: darkgoldenrod;

}
.section-title{
    padding: 15px;
    background-color: dimgrey;
    text-align: center;
    border-radius: 15px;
}
.big-planes{
    padding: 15px;
    background-color: darkturquoise;
    border: 5px solid cyan;
    display: grid;
    gap: 10px;
}
.big-planes img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.big-planes a{
    color: darkslategrey;
    text-decoration: none;
    font-size: 20px;
    background-color: chartreuse;
    text-align: center;
}
.big-plane-wrapper{
    padding: 15px;
    display: grid;
    gap: 10px;
    
}
#popular-planes{
    padding: 15px;
    background-color: brown;
}
.popular-planes-wrapper{
    padding: 15px;
    background-color: rgb(11, 108, 82);
    display: grid;
    gap: 10px;
    
}
.popular-planes{
    padding: 15px;
    background-color: firebrick;
    border-radius: 15px;
    display: grid;
    gap: 10px;
    justify-items: center;
}
.popular-planes img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
#gallery{
    padding: 15px;
    background-color: chartreuse;
    text-align: center;
}
.gallery{
    padding: 5px;
    background-color: darkblue;
    display: grid;
    gap: 10px;
    border-radius: 15px;
}
.gallery img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
   
}

.gallery-wrapper{
    padding: 15px;
    background-color: darkgoldenrod;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr ;
}
.retired-planes{
    padding: 15px;
    background-color: darkorange;
    border:5px solid white;
    border-radius: 15px;
    
    
}
.Retired-planes-wrapper{
    padding: 15px;
    background-color: teal;
    display: grid;
    gap: 10px;
    
}
.retired-planes img{
    width: 100%;
    height: 400px;
    object-fit: cover;

    
}

footer{
    padding: 15px;
    background-color: grey;
    border-radius: 5px;
    text-align: center;
}
